<h1><%= pluralize(@movies.length, 'Movie') %></h1>
<% @movies.each do |movie| %>
<article>
  <header>
    <h3><%= movie.name%></h3>
  </header>

  <table>
    <thead>
      <tr>
        <td>Description</td>
        <td>Rating</td>
        <td>Release Date</td>
        <td>Box Office Gross</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= truncate(movie.description, length:60, separator:' ') %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.released_on %></td>
        <td><%= format_gross(movie) %></td>
      </tr>
    </tbody>
  </table>
</article>
<% end %>
