<h1><%= pluralize(@movies.length, 'Movie') %></h1>

<%= link_to "Add New Movie", new_movie_path %>
<% @movies.each do |movie| %>
<article>
  <header>
    <%= image_for(movie) %>
    <h3><%= link_to movie.name, movie %></h3>
  </header>

  <table>
    <thead>
      <tr>
        <td>Description</td>
        <td>Rating</td>
        <td>Release Date</td>
        <td>Box Office Gross</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= truncate(movie.description, length:40 , separator:' ') %></td>
        <td><%= movie.rating %></td>
        <td><%= "#{movie.released_on} (#{time_ago_in_words(movie.released_on)})" %></td>
        <td><%= format_gross(movie) %></td>
      </tr>
    </tbody>
  </table>
</article>
<% end %>
